# Постановка задачи

1. Определить выживаемость пассажиров "Титаника" с помощью нейронной сети (https://www.kaggle.com/c/titanic/data).
2. Сравнить результат с полученным в предыдущем решении этой задачи (titanic.ipynb).

In [2]:
import numpy as np # импортируем библиотеку Numpy
import pandas as pd # импортируем библиотеку Pandas
import matplotlib.pyplot as plt # импортируем библиотеку Matplotlib

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.utils import np_utils, plot_model

2022-12-06 18:33:47.022098: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
titanic_train_data = pd.read_csv('https://raw.githubusercontent.com/Andruchelli/Titanic/main/train.csv') # прочитаем файл с тренировочными данными
titanic_test_data = pd.read_csv('https://raw.githubusercontent.com/Andruchelli/Titanic/main/test.csv') # прочитаем файл с тестовыми данными, который будет использоваться для решения задачи по определению выживаемости пассажиров

In [5]:
titanic_train_data.head() # проверяем, что первый файл прочитался

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
titanic_train_data.shape # смотрим размерность датасета с тренировочными данными

(891, 12)

In [7]:
titanic_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Предобработка данных

In [8]:
df = titanic_train_data[['Survived', 'Age', 'Pclass']] # создаём новый датасет для определения выживаемости по двум параметрам: Age и Pclass
df.head()

   Survived   Age  Pclass
0         0  22.0       3
1         1  38.0       1
2         1  26.0       3
3         1  35.0       1
4         0  35.0       3

In [9]:
df.shape # проверяем размерность нового датасета

(891, 3)

In [10]:
np.sum(df['Survived'].isna()) # считаем количество ячеек в столбце Survived со значением NaN

0

In [11]:
np.sum(df['Pclass'].isna()) # считаем количество ячеек в столбце Pclass со значением NaN

0

In [12]:
np.sum(df['Age'].isna()) # считаем количество ячеек в столбце Age со значением NaN

177

Для дальнейших исследований стоит почистить наш новый датафрейм, так как в столбце Age мы получили 177 строк со значением NaN, которые не подходят для обучения модели.

In [13]:
df_dropna = df.dropna(axis=0) # избавляемся от всех рядов, где имеются значения NaN, с помощью метода dropna; axis=0 означает, что мы сбрасываем ряды, где содержатся значения NaN
df_dropna.shape # проверяем размерность нового датасета

(714, 3)

In [14]:
df_dropna.head()

   Survived   Age  Pclass
0         0  22.0       3
1         1  38.0       1
2         1  26.0       3
3         1  35.0       1
4         0  35.0       3

In [15]:
titanic_test_data.head() # проверяем, что второй файл, содержащий тестовые данные, прочитался

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
np.sum(titanic_test_data['Pclass'].isna()) # считаем количество ячеек в столбце Pclass со значением NaN

0

In [17]:
np.sum(titanic_test_data['Age'].isna()) # считаем количество ячеек в столбце Age со значением NaN

86

In [18]:
titanic_test_dropna = df.dropna(axis=0) # избавляемся от всех рядов, где имеются значения NaN, с помощью метода dropna; axis=0 означает, что мы сбрасываем ряды, где содержатся значения NaN
df_dropna.shape # проверяем размерность нового датасета

(714, 3)

In [19]:
X_train = df_dropna.drop('Survived', axis=1) # задаём в тренировочные данные для обучения модели столбцы Age и Pclass из тренировочного датасета
Y_train = df_dropna['Survived'] # задаём в полученный результат для тренировочных данных столбец Survived из тренировочного датасета

X_test = titanic_test_dropna[['Age', 'Pclass']] # задаём в тестовые данные, по которым будет проводиться обучение модели, столбцы Age и Pclass из тестоового датасета

In [20]:
X_train.head()

    Age  Pclass
0  22.0       3
1  38.0       1
2  26.0       3
3  35.0       1
4  35.0       3

In [21]:
X_train.shape

(714, 2)

In [22]:
len(X_train['Age'].unique()) # определяем количество уникальных значений столбца Age

88

In [23]:
len(X_train['Pclass'].unique()) # определяем количество уникальных значений столбца Pclass

3

In [24]:
Y_train.shape

(714,)

In [25]:
Y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [26]:
X_test.head()

    Age  Pclass
0  22.0       3
1  38.0       1
2  26.0       3
3  35.0       1
4  35.0       3

In [27]:
X_test.shape

(714, 2)

In [28]:
len(X_test['Age'].unique()) # определяем количество уникальных значений столбца Age

88

Применим **one-hot кодирование** для получения данных в виде значений "0" и "1".

In [29]:
X_train_cat = np_utils.to_categorical(X_train, len(X_train['Age'].unique())) # предобрабатываем датасет со значениями "labels" с помощью метода "np_utils" из библиотеки "keras" модуля "utils"; применяем технику "one-hot encoding"; len(X_train['Age'].unique - это количество классов, которые мы задаём в данном датасете
X_train_cat

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]], dtype=float32)

In [30]:
X_train_cat.shape

(714, 2, 88)

In [31]:
X_train_flat = X_train_cat.reshape(X_train_cat.shape[0], X_train_cat.shape[1] * X_train_cat.shape[2]) # преобразовываем данные 'X_train' в двумерный массив, чтобы нейронная сеть смогла принять входные данные, расскладывая полученное значение 'X_train_cat' на отдельные значения

In [32]:
X_train_flat.shape

(714, 176)

In [33]:
Y_train_cat = np_utils.to_categorical(Y_train, 2)

In [34]:
Y_train_cat.shape

(714, 2)

In [35]:
Y_train_cat

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [36]:
X_test_cat = np_utils.to_categorical(X_test, len(X_test['Age'].unique())) # предобрабатываем датасет со значениями "labels"
X_test_cat

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]], dtype=float32)

In [37]:
X_test_cat.shape

(714, 2, 88)

In [38]:
X_test_flat = X_test_cat.reshape(X_test_cat.shape[0], X_test_cat.shape[1] * X_test_cat.shape[2]) # преобразовываем данные 'X_test' в двумерный массив

In [39]:
X_test_flat.shape

(714, 176)

In [40]:
X_test_flat

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

# Создание модели нейронной сети

In [41]:
model = Sequential()

model.add(Dense(512, input_shape=(176, ), activation='relu', name="dense_1")) # добавляем ранее импортированный модуль Dense из библиотеки "keras" в нашу нейронную сеть (модель) - это будет первый скрытый слой нашей модели; задаём количество нейронов - 512; передаём параметр "input_shape" - размерность данных, на которых будет обучаться нейросеть (значение X_train_flat.shape[1]); добавляем активацию "relu"
model.add(Dense(512, activation='relu', name="dense_2")) # добавляем ещё один скрытый слой
model.add(Dropout(0.3))
model.add(Dense(2, activation='softmax', name="output")) # 2 - количество классов (0 и 1 - выжил пассажир или нет); добавляем активацию "softmax", чтобы все вероятности суммировались в единиицу ("1")

2022-12-06 18:34:58.593223: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [42]:
model.summary() # выводим описание нашей нейросети

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 512)               90624

 dense_2 (Dense)             (None, 512)               262656

 dropout (Dropout)           (None, 512)               0

 output (Dense)              (None, 2)                 1026

=================================================================
Total params: 354,306
Trainable params: 354,306
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.compile( # компилируем модель
    loss='categorical_crossentropy', # задаём функцию ошибки (у нас задача классификации)
    optimizer='adam', # оптимизатор (как модель будет обучаться, изменять веса)
    metrics=['accuracy']) # метрики (точность "accuracy")

In [44]:
model.fit(X_train_flat, Y_train_cat, epochs=10, batch_size=128, verbose=1) # обучение модели на тренировочных данных; вызываем метод "fit" для объекта "model"; передаём параметры, на которых будет обучаться модель: X_train_flat (featers), Y_train_cat (labels), epochs (количество итераций через полный набор данных), batch_size (количество экземпляров, которые за раз проходит модель), verbose (определяет то, что будет печатать модель на выходе - progress bar)

Epoch 1/10
6/6 [==============================] - 1s 13ms/step - loss: 0.6509 - accuracy: 0.5770
Epoch 2/10
6/6 [==============================] - 0s 12ms/step - loss: 0.6000 - accuracy: 0.6961
Epoch 3/10
6/6 [==============================] - 0s 12ms/step - loss: 0.5844 - accuracy: 0.6975
Epoch 4/10
6/6 [==============================] - 0s 14ms/step - loss: 0.5658 - accuracy: 0.7157
Epoch 5/10
6/6 [==============================] - 0s 14ms/step - loss: 0.5502 - accuracy: 0.7255
Epoch 6/10
6/6 [==============================] - 0s 14ms/step - loss: 0.5310 - accuracy: 0.7395
Epoch 7/10
6/6 [==============================] - 0s 15ms/step - loss: 0.5111 - accuracy: 0.7647
Epoch 8/10
6/6 [==============================] - 0s 14ms/step - loss: 0.5001 - accuracy: 0.7605
Epoch 9/10
6/6 [==============================] - 0s 13ms/step - loss: 0.4951 - accuracy: 0.7717
Epoch 10/10
6/6 [==============================] - 0s 17ms/step - loss: 0.4789 - accuracy: 0.7759

In [45]:
Y_pred = model.predict(X_test_flat) # делаем предсказание
Y_pred = np.array(Y_pred)
Y_pred = Y_pred.flatten()

23/23 [==============================] - 0s 3ms/step

In [46]:
Y_pred

array([0.81431013, 0.18568987, 0.41241077, ..., 0.77692854, 0.5957532 ,
       0.4042468 ], dtype=float32)

In [47]:
# формируем массив данных из "0" (не выжил) и "1" (выжил), приняв полученные в ходе предсказания значения меньше 0,5 за 0, а значения больше 0,5 за 1
Y_pred[Y_pred<0.5] = 0
Y_pred[Y_pred>0] = 1
Y_pred = Y_pred.astype(int) # переводим значения массива в целые числа

In [48]:
Y_pred

array([1, 0, 0, ..., 1, 1, 0])

# Обработка полученных результатов

In [49]:
Y_new = Y_pred[:714] # берём первые 714 значений, так как ранее мы определили, что в датафрейме X_test 714 строк
Y_new.shape

(714,)

In [50]:
X_test["Survived"] = Y_new # добавляем новый столбец "Survived" в датафрейм X_test
X_test

      Age  Pclass  Survived
0    22.0       3         1
1    38.0       1         0
2    26.0       3         0
3    35.0       1         1
4    35.0       3         1
..    ...     ...       ...
885  39.0       3         0
886  27.0       2         1
887  19.0       1         0
889  26.0       1         1
890  32.0       3         0

[714 rows x 3 columns]

In [51]:
X_test.to_csv("result_2.csv") # полученный датафрейм сохраняем в файл с разрешением .csv

# Сравнение результатов, полученных двумя способами решения задачи

In [52]:
df_result_1 = pd.read_csv('https://raw.githubusercontent.com/Andruchelli/Titanic/main/result_1.csv') # прочитаем файл с результатами 1-го варианта решения задачи
df_result_2 = pd.read_csv('https://raw.githubusercontent.com/Andruchelli/Titanic/main/result_2.csv') # прочитаем файл с результатами 2-го варианта решения задачи

In [53]:
df_comp = pd.DataFrame() # создаём новый датафрейм "df_comp"

In [54]:
df_comp["Survived_1"] = df_result_1["Survived"] # добавляем столбец "Survived_1" с результатами 1-го варианта решения задачи
df_comp["Survived_2"] = df_result_2["Survived"] # добавляем столбец "Survived_2" с результатами 2-го варианта решения задачи
df_comp.head()

   Survived_1  Survived_2
0           0           1
1           1           0
2           0           0
3           1           1
4           0           1

In [55]:
df_comp["Compare"] = df_result_1["Survived"] == df_result_2['Survived'] # сравниваем результаты
df_comp.head()

   Survived_1  Survived_2  Compare
0           0           1    False
1           1           0    False
2           0           0     True
3           1           1     True
4           0           1    False

In [65]:
len(df_comp[df_comp["Compare"] == True]) # считаем количество совпавших результатов (True)

346

In [66]:
len(df_comp[df_comp["Compare"] == False]) # считаем количество не совпавших результатов (False)

368

# Применение класса функций обратного вызова EarlyStopping

Для досрочного завершения процесса обучения, к примеру, когда показатель качества (значение функции потерь) снижается очень медленно или за заданное количество эпох (параметр patience) потери не уменьшаются, можно воспользоваться встроенным классом **callbackEarlyStopping**.

В таком случае обучение будет преждевременно остановлено в соответствии с заданными параметрами класса.

In [70]:
from keras.callbacks import EarlyStopping # импортируем класс EarlyStopping из бибилиотеки keras

In [71]:
callbacks = [
    keras.callbacks.EarlyStopping(monitor="loss", min_delta=0.03, patience=5, verbose=1) # задаём параметры monitor (отслеживаемый показатель качества) равное значению функции потерь, min_delta (разница в изменении значения функции потерь) равное 0,03 (обычно составляет от 0,01), patience (количество эпох) равное 2
]
 
model.fit(X_train_flat, Y_train_cat, epochs=10, batch_size=128, verbose=1, callbacks=callbacks)

Epoch 1/10
6/6 [==============================] - 0s 13ms/step - loss: 0.4454 - accuracy: 0.7717
Epoch 2/10
6/6 [==============================] - 0s 14ms/step - loss: 0.4457 - accuracy: 0.7689
Epoch 3/10
6/6 [==============================] - 0s 12ms/step - loss: 0.4436 - accuracy: 0.7829
Epoch 4/10
6/6 [==============================] - 0s 15ms/step - loss: 0.4420 - accuracy: 0.7801
Epoch 5/10
6/6 [==============================] - 0s 13ms/step - loss: 0.4455 - accuracy: 0.7717
Epoch 6/10
6/6 [==============================] - 0s 13ms/step - loss: 0.4388 - accuracy: 0.7801
Epoch 6: early stopping

# Сохранение модели

Для сохранения модели в виде файла **HDF5** Keras использует пакет **h5py**.

In [72]:
import h5py

In [73]:
model.save('titanic_model.h5') # сохраняем модель в файл с расширением .h5

# Применение визуализации процесса обучения модели с помощью плагина TensorBoard

In [81]:
from keras.callbacks import TensorBoard # импортируем класс TensorBoard из бибилиотеки keras
import datetime

In [87]:
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") # задаём директорию для хранения логов – мини-отчетов обучения. Используем метод now() библиотеки datetime, чтобы именовать каждый файл лога временным штампом – год, месяц, день, час, минута, секунда

In [88]:
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1) # процесс генерации логов будет идти параллельно обучению, потому используются коллбэки; задаём вычисление гистограммы каждой эпохи histogram_freq=1

In [89]:
model.fit(X_train_flat, Y_train_cat, epochs=10, batch_size=128, verbose=1, callbacks=[tensorboard_callback])

Epoch 1/10
6/6 [==============================] - 0s 34ms/step - loss: 0.4424 - accuracy: 0.7815
Epoch 2/10
6/6 [==============================] - 0s 38ms/step - loss: 0.4412 - accuracy: 0.7759
Epoch 3/10
6/6 [==============================] - 0s 39ms/step - loss: 0.4406 - accuracy: 0.7885
Epoch 4/10
6/6 [==============================] - 0s 64ms/step - loss: 0.4466 - accuracy: 0.7787
Epoch 5/10
6/6 [==============================] - 0s 60ms/step - loss: 0.4381 - accuracy: 0.7745
Epoch 6/10
6/6 [==============================] - 0s 42ms/step - loss: 0.4382 - accuracy: 0.7899
Epoch 7/10
6/6 [==============================] - 0s 44ms/step - loss: 0.4427 - accuracy: 0.7885
Epoch 8/10
6/6 [==============================] - 0s 45ms/step - loss: 0.4415 - accuracy: 0.7815
Epoch 9/10
6/6 [==============================] - 0s 39ms/step - loss: 0.4386 - accuracy: 0.7773
Epoch 10/10
6/6 [==============================] - 0s 51ms/step - loss: 0.4380 - accuracy: 0.7829

In [91]:
%load_ext tensorboard # загружаем расширение TensorBoard
%tensorboard --logdir logs/fit # запускаем TensorBoard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 19685), started 0:02:56 ago. (Use '!kill 19685' to kill it.)